# node_modules
node_modules/

# Webpack build output
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific pliki tymczasowe
.DS_Store
Thumbs.db

# IDE/edytory
.vscode/
.idea/

# środowiskowe pliki konfiguracyjne
.env
.env.local
.env.*.local

# cache webpacka
.cache/
