// Kolory główne
$primary-color: #01579B;
$primary-hover-color: #E1F1FF;
$primary-text-color: #030712;
$secondary-text-color: #343D4C;
$light-blue-bg: #E1F1FF;
$light-gray-bg: #f8f8f8;
$border-color: #e0e0e0;
$dark-blue: #004a8c;
$card-border-color: #DFE4EA;